/*--------general--------*/

:root {
    --col-main-light-green: rgb(96, 194, 76)49%, 53%;
    --col-main-light-green-hover: #55ac43;
    --col-white: #fff;
    --col-light-grey: #c7c8c9;
    --bg-dark-mode-main: #1e1f22;
    --bg-dark-mode-lighter: #2b2d31;
    --bg-dark-mode-lightest: #313338;
}

.container {
    width: min(100% - 40px, 1280px);
    margin-inline: auto;
}

.center {
    display: grid;
    place-items: center;
    height: 100%;
    text-align: center;
}

.flex {
    display: flex;
}

.page-box-shadow {
    box-shadow: rgba(0 0 0 / 0.1) 1px 5px 10px;
    padding: 80px 0px 80px 0px
}

/*--------end of general--------*/